<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <title>Custome Scrollbar</title>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict location</h1>
     <h2>(Please enter negative number)</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div id="columns_4">
            <input type="text" name="beacon1" placeholder="beacon1" required="required" />
            <input type="text" name="beacon2" placeholder="beacon2" required="required" />
            <input type="text" name="beacon3" placeholder="beacon3" required="required" />
            <input type="text" name="beacon4" placeholder="beacon4" required="required" />
          <input type="text" name="beacon5" placeholder="beacon5" required="required" />
            <input type="text" name="beacon6" placeholder="beacon6" required="required" />
            <input type="text" name="beacon7" placeholder="beacon7" required="required" />
            <input type="text" name="beacon8" placeholder="beacon8" required="required" />
          <input type="text" name="beacon9" placeholder="beacon9" required="required" />
            <input type="text" name="beacon10" placeholder="beacon10" required="required" />
            <input type="text" name="beacon11" placeholder="beacon11" required="required" />
            <input type="text" name="beacon12" placeholder="beacon12" required="required" />
           <input type="text" name="beacon13" placeholder="beacon13" required="required" />


      </div>



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>



   <br>
   <br>
   {{ prediction_location }}

 </div>




</body>
</html>
